body{
    font-family: 'poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5c5c5aef;
    color: #333333;
}

body.modo-escuro{
    background-color: #212121;
    color: #f5f5f5
}

header{
    
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo, header .imagem-botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover, header .imagem-botao:hover, main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.titulo{
    background-color: rgb(7, 198, 231);
    width: 50%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif,500 px;
    font-weight: 200px;
    border-radius: 15px;
    font-size: 40px;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

main .cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

header .cartao-pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon{
    background-color: #7a7474;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 15px;
    background-color: #31aac9;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
    max-width: 15ch;
    justify-content: space-between;

}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
    
}

main .cartao-pokemon .tipos{
    padding: 8px;
    border-radius: 15px;
}

.tipo{
    border-radius: 5px;
    padding: 5px 10px;
}

.grama{
    background-color: #7ac74c;
    
}

.veneno{
    background-color: #a041ccfb;
}

.fogo{
    background-color: #fd4424;
}

.água{
    background-color: #6390f0;
}

.inseto{
    background-color: #a6b91a;
}

.Voador{
    background-color: #9cecf7;
}

.normal{
    background-color: #c9c6c6e3;
}

.Eletrico{
    background-color: #c6f107e3;
}

.chao{
    background-color: #7c6c22e3;
}

.Fada{
    background-color: #e691e9ef;
}

.Lutador{
    background-color: #d56723;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 5px;
}



